# Node
node_modules/
package-lock.json

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
.venv/
venv/

# Data and results
data/
results/

# VS Code
.vscode/

# Debug files
debug-*.html
debug-*.txt
temp-*.html
